<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVTDownloadableAutomaticUpdate</key>
	<false/>
	<key>DVTFontAndColorCurrentTheme</key>
	<string>Default.dvtcolortheme</string>
	<key>IBAppliesAutoResizingRulesWhileResizing</key>
	<false/>
	<key>IBPreferencesMigrated</key>
	<true/>
	<key>IDEDefaultPrimaryEditorFrameSizeForPaths</key>
	<dict>
		<key>file:///Users/andy/Documents/Arduino/libraries/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp</key>
		<dict>
			<key>height</key>
			<real>672</real>
			<key>width</key>
			<real>728</real>
		</dict>
		<key>file:///Users/andy/Documents/Arduino/libraries/LiquidCrystal_I2C/LiquidCrystal_I2C.h</key>
		<dict>
			<key>height</key>
			<real>600</real>
			<key>width</key>
			<real>600</real>
		</dict>
		<key>file:///Users/andy/Downloads/LiquidCrystal/LiquidCrystal_I2C.cpp</key>
		<dict>
			<key>height</key>
			<real>697</real>
			<key>width</key>
			<real>1280</real>
		</dict>
		<key>file:///Users/andy/Downloads/gist9300296-47d9703c96f4f66cbd8c2499600315c56714f4e3/gistfile1.c</key>
		<dict>
			<key>height</key>
			<real>600</real>
			<key>width</key>
			<real>600</real>
		</dict>
	</dict>
	<key>IDEKeyBindingCurrentPreferenceSet</key>
	<string>Default.idekeybindings</string>
	<key>IDEKeyBindingExcludedPreferenceSet</key>
	<array>
		<string>Hello</string>
		<string>Default</string>
		<string>Hello</string>
		<string>Hello</string>
		<string>Hello</string>
		<dict/>
	</array>
	<key>IDELastLocationOfXcodeWhenItemsWereRegisteredWithLaunchServices</key>
	<string>/Applications/Xcode.app</string>
	<key>IDELastVersionOfXcodeThatRegisteredLaunchServicesItems</key>
	<string>5.0.2</string>
	<key>IDERecentEditorDocuments</key>
	<array>
		<data>
		Ym9va9QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA3AIAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGFuZHkJAAAAAQEAAERv
		d25sb2FkcwAAADQAAAABAQAAZ2lzdDkzMDAyOTYtNDdkOTcwM2M5NmY0ZjY2
		Y2JkOGMyNDk5NjAwMzE1YzU2NzE0ZjRlMwsAAAABAQAAZ2lzdGZpbGUxLmMA
		FAAAAAEGAAAEAAAAFAAAACAAAAA0AAAAcAAAAAgAAAAEAwAA6RACAAAAAAAI
		AAAABAMAAA7EBQAAAAAACAAAAAQDAAARxAUAAAAAAAgAAAAEAwAAnTFgAAAA
		AAAIAAAABAMAAJ4xYAAAAAAAFAAAAAEGAACgAAAAsAAAAMAAAADQAAAA4AAA
		AAgAAAAABAAAQbjCutMAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
		AAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2lu
		dG9zaCBIRAgAAAAEAwAAAHCiR3QAAAAIAAAAAAQAAEG275HaAAAAJAAAAAEB
		AABDNTUyOEY0Mi1EMTBELTMyMTItOTkxRi01N0ZDNTcxNENBQTYYAAAAAQIA
		AIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
		5wAAAAECAAAwNDIxMjJiMGI5OGJjYzAyOGFlNzZhZjc0NGFlMDdhMDE5MWVm
		ZjJmOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFw
		cGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDM7
		MDAwMDAwMDAwMDYwMzE5ZTsvdXNlcnMvYW5keS9kb3dubG9hZHMvZ2lzdDkz
		MDAyOTYtNDdkOTcwM2M5NmY0ZjY2Y2JkOGMyNDk5NjAwMzE1YzU2NzE0ZjRl
		My9naXN0ZmlsZTEuYwAAwAAAAP7///8BAAAAAAAAAA8AAAAEEAAAhAAAAAAA
		AAAFEAAA8AAAAAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA2AEA
		AAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEAAAAAAAATIAAA
		fAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAAPAEAAAAAAAAR
		wAAAFAAAAAAAAAASwAAATAEAAAAAAACA8AAA7AEAAAAAAAA=
		</data>
		<data>
		Ym9va6ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAqAIAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGFuZHkJAAAAAQEAAERv
		d25sb2FkcwAAAA0AAAABAQAATGlxdWlkQ3J5c3RhbAAAABUAAAABAQAATGlx
		dWlkQ3J5c3RhbF9JMkMuY3BwAAAAFAAAAAEGAAAEAAAAFAAAACAAAAA0AAAA
		TAAAAAgAAAAEAwAA6RACAAAAAAAIAAAABAMAAA7EBQAAAAAACAAAAAQDAAAR
		xAUAAAAAAAgAAAAEAwAA4xwUAAAAAAAIAAAABAMAAMQdFAAAAAAAFAAAAAEG
		AACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAABAAAQbUt/aoAAAAYAAAAAQIA
		AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAA
		AwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAHCiR3QAAAAI
		AAAAAAQAAEG275HaAAAAJAAAAAEBAABDNTUyOEY0Mi1EMTBELTMyMTItOTkx
		Ri01N0ZDNTcxNENBQTYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
		AAEAAAABAQAALwAAAAAAAAABBQAAygAAAAECAABjOGM4Y2E2ZWYzNmE0ZWQ2
		MDM4MWMxZTY4OTc2NmIxYmJlZDE3YWM3OzAwMDAwMDAwOzAwMDAwMDAwOzAw
		MDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3Jp
		dGU7MDAwMDAwMDE7MDEwMDAwMDI7MDAwMDAwMDAwMDE0MWRjNDsvdXNlcnMv
		YW5keS9kb3dubG9hZHMvbGlxdWlkY3J5c3RhbC9saXF1aWRjcnlzdGFsX2ky
		Yy5jcHAAAADAAAAA/v///wEAAAAAAAAADwAAAAQQAABsAAAAAAAAAAUQAADY
		AAAAAAAAABAQAAAEAQAAAAAAAEAQAAD0AAAAAAAAAAIgAADAAQAAAAAAABAg
		AABAAQAAAAAAABEgAAB0AQAAAAAAABIgAABUAQAAAAAAABMgAABkAQAAAAAA
		ACAgAACgAQAAAAAAADAgAADMAQAAAAAAAAHAAAAkAQAAAAAAABHAAAAUAAAA
		AAAAABLAAAA0AQAAAAAAAIDwAADUAQAAAAAAAA==
		</data>
		<data>
		Ym9vawgEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAEAMAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGFuZHkJAAAAAQEAAERv
		Y3VtZW50cwAAAAcAAAABAQAAQXJkdWlubwAJAAAAAQEAAGxpYnJhcmllcwAA
		ABEAAAABAQAATGlxdWlkQ3J5c3RhbF9JMkMAAAATAAAAAQEAAExpcXVpZENy
		eXN0YWxfSTJDLmgAHAAAAAEGAAAEAAAAFAAAACAAAAA0AAAARAAAAFgAAAB0
		AAAACAAAAAQDAADpEAIAAAAAAAgAAAAEAwAADsQFAAAAAAAIAAAABAMAAA/E
		BQAAAAAACAAAAAQDAAB0CxEAAAAAAAgAAAAEAwAAeAsRAAAAAAAIAAAABAMA
		AOsYEwAAAAAACAAAAAQDAAD+GBMAAAAAABwAAAABBgAAtAAAAMQAAADUAAAA
		5AAAAPQAAAAEAQAAFAEAAAgAAAAABAAAQbiLEGMAAAAYAAAAAQIAAAEAAAAA
		AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUB
		AAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAHCiR3QAAAAIAAAAAAQA
		AEG275HaAAAAJAAAAAEBAABDNTUyOEY0Mi1EMTBELTMyMTItOTkxRi01N0ZD
		NTcxNENBQTYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAAB
		AQAALwAAAAAAAAABBQAA3gAAAAECAABmODhhMzJhODYwY2Q2ODJkMzg4ODdj
		MDZmMjUzNzk2ZWVhOGY0ZTNiOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
		MDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAw
		MDAwMDE7MDEwMDAwMDI7MDAwMDAwMDAwMDEzMThmZTsvdXNlcnMvYW5keS9k
		b2N1bWVudHMvYXJkdWluby9saWJyYXJpZXMvbGlxdWlkY3J5c3RhbF9pMmMv
		bGlxdWlkY3J5c3RhbF9pMmMuaAAAAMAAAAD+////AQAAAAAAAAAPAAAABBAA
		AJAAAAAAAAAABRAAACQBAAAAAAAAEBAAAFgBAAAAAAAAQBAAAEgBAAAAAAAA
		AiAAABQCAAAAAAAAECAAAJQBAAAAAAAAESAAAMgBAAAAAAAAEiAAAKgBAAAA
		AAAAEyAAALgBAAAAAAAAICAAAPQBAAAAAAAAMCAAACACAAAAAAAAAcAAAHgB
		AAAAAAAAEcAAABQAAAAAAAAAEsAAAIgBAAAAAAAAgPAAACgCAAAAAAAA
		</data>
		<data>
		Ym9vawwEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAFAMAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGFuZHkJAAAAAQEAAERv
		Y3VtZW50cwAAAAcAAAABAQAAQXJkdWlubwAJAAAAAQEAAGxpYnJhcmllcwAA
		ABEAAAABAQAATGlxdWlkQ3J5c3RhbF9JMkMAAAAVAAAAAQEAAExpcXVpZENy
		eXN0YWxfSTJDLmNwcAAAABwAAAABBgAABAAAABQAAAAgAAAANAAAAEQAAABY
		AAAAdAAAAAgAAAAEAwAA6RACAAAAAAAIAAAABAMAAA7EBQAAAAAACAAAAAQD
		AAAPxAUAAAAAAAgAAAAEAwAAdAsRAAAAAAAIAAAABAMAAHgLEQAAAAAACAAA
		AAQDAADrGBMAAAAAAAgAAAAEAwAA/RgTAAAAAAAcAAAAAQYAALgAAADIAAAA
		2AAAAOgAAAD4AAAACAEAABgBAAAIAAAAAAQAAEG4ixBjAAAAGAAAAAECAAAB
		AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAAAAMD
		AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABwokd0AAAACAAA
		AAAEAABBtu+R2gAAACQAAAABAQAAQzU1MjhGNDItRDEwRC0zMjEyLTk5MUYt
		NTdGQzU3MTRDQUE2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
		AAAAAQEAAC8AAAAAAAAAAQUAAOAAAAABAgAAMmVmZTk5YzY4N2M0ZDAwMWZl
		N2FmNjk1YjVjOTA0MjMwMDBiYzg2YTswMDAwMDAwMDswMDAwMDAwMDswMDAw
		MDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
		OzAwMDAwMDAxOzAxMDAwMDAyOzAwMDAwMDAwMDAxMzE4ZmQ7L3VzZXJzL2Fu
		ZHkvZG9jdW1lbnRzL2FyZHVpbm8vbGlicmFyaWVzL2xpcXVpZGNyeXN0YWxf
		aTJjL2xpcXVpZGNyeXN0YWxfaTJjLmNwcADAAAAA/v///wEAAAAAAAAADwAA
		AAQQAACUAAAAAAAAAAUQAAAoAQAAAAAAABAQAABcAQAAAAAAAEAQAABMAQAA
		AAAAAAIgAAAYAgAAAAAAABAgAACYAQAAAAAAABEgAADMAQAAAAAAABIgAACs
		AQAAAAAAABMgAAC8AQAAAAAAACAgAAD4AQAAAAAAADAgAAAkAgAAAAAAAAHA
		AAB8AQAAAAAAABHAAAAUAAAAAAAAABLAAACMAQAAAAAAAIDwAAAsAgAAAAAA
		AA==
		</data>
	</array>
	<key>NSToolbar Configuration Xcode.IDEKit.ToolbarDefinition.SimpleFilesFocused/352316C9-04AE-4CF4-83C4-7100979B8BC0</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration Xcode.IDEKit.ToolbarDefinition.SimpleFilesFocused/A567B9C5-911C-4777-9D9B-A5EC252723F3</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration Xcode.IDEKit.ToolbarDefinition.SimpleFilesFocused/C61DAC78-DC75-4954-B069-D21F8330D405</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration Xcode.IDEKit.ToolbarDefinition.SimpleFilesFocused/FD53A3E0-C2E0-4166-902D-27AEA6830AF1</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>x</key>
	<real>1</real>
	<key>y</key>
	<integer>444</integer>
</dict>
</plist>
